<div class="card"  id="<%= prompt.id %>" data-id="<%= prompt.id %>">
  <div class="card-block">
    <p class="card-text"><%= prompt.content %></p>
    <footer id="prompt_footer">number of posts (<%= prompt.posts.count %>)</footer>
  </div>
</div>
<!--< render 'posts/form', :prompt => prompt %>-->