<div class="center jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">PromptMe</h1>
  </div>
</div>
<div class="container">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
</div>
<div class="container-fluid">
  <%= render @prompts %>
</div>

<%= render 'posts/form' %>