<div class="center jumbotron">
  <div class="container-fluid">
    <h1 class="uppercase">Brennan Manning</h1>
    <p>To be alive is to be broken;</p>
    <p>to be broken is to stand in the need of grace.</p>
    <p>It is only through grace that any of</p>
    <p>us could dare to hope that we</p> 
    <p>could become more like Christ</p>
  </div>
</div>
