<div class="modal fade" id="myModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div id="progressBar">
      </div>
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body">
        <%= form_for(Post.new, :html => {id: "form_for_" }, :remote => true) do |f| %>
          <%= f.text_area :content, class: 'form-control content-form', id: "modal_textarea" %>
          <%= f.hidden_field :prompt_id, id: "modal_prompt" %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        <% end %>
      </div>
    </div>
  </div>
</div> 