//@import "bootstrap-sprockets";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-darker: #222;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color: #F2F2F0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #6f7272;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #f7f7f5;
  //text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#my_navbar {
  background-color: #11BFAE;
  border: none;
  padding: 0.1em 1em;
  .dropdown-menu {
    left: -4em;
    padding: 0.2em 0;
    background-color: #F2F2F0;
    a {
      color: #11BFAE;
      &:hover {
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }
    .dropdown-divider {
      margin: 0;
    }
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #f7f7f5;//#ebebe6;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: white;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: white;
  background-color: #11BFAE;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  overflow: auto;
  resize: none;
  @include box_sizing;
}

#error_explanation {
  border: none;
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-danger;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.card {
  margin-bottom: 1em;
  color: #456173;
  &:hover {
    cursor: pointer;
  }
}

.new_form {
  margin: auto;
}

#mobileCarousel {
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-image: url(image_path("notebook.jpg"));
  background-size: cover;
  height: 100vh;
  background-position: center;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
  // Use this if you are wanting a carousel
  img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100vh;
  }
  p {
    color: #456173;
  }
  h1 {

    text-align: center;
    color: #1B3C59;
  }
}

.pagination_div {
  margin: 0 auto;
  span a {
    color: #1B3C59;
    &:hover {
      text-decoration: none;
      color: #636c72;
    }
  }
  .current {
      color: #636c72;
  }
}
