// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_user_button {
  background-color: #456173;
  border-color: #456173;
}

del {
    text-decoration-color: #F95959;
}

.card {
  cursor: default;
  .card-header {
    cursor: default;
  }
  .card-block {
    cursor: default;
  }
}
