<div id="mobileCarousel" class="center jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-3">PromptMe</h1>
      <p>Visit us on on desktop to get started!</p>
  </div>
</div>
